build/
examples/demo/data
coverage.out
release.tar.gz
.env
.idea/
.csv
test/setup/valkeys/*.json
test/keys/
_test/setup/valkeys/*.json
_test/keys/
.DS_Store
.vscode/
dist/
.release-env

# Don't commit the vendor directory if anyone runs 'go mod vendor'.
/vendor

go_build_sl_exporter
